@page "/"

<PageTitle>WestWind Traders|Home</PageTitle>

<h1>WestWind Blazor WebApp</h1>

<img src="img/sql-server-icon-clipart-4.jpg" width="250" height="250" style="display: block;" />

This application demonstrates how to create Razor components that interacts
with a SQL Server database using a class library.
