@page "/"

<PageTitle>Blazor Demo App</PageTitle>

<h1>CPSC1517-A03 Blazor Demo App</h1>

This Blazor server-side webapp includes three pages to demonstrate:
<ol>
    <li>Blazor Data Entry Form with Manual Validation</li>
    <li>Blazor Data Entry Form with Built-in Blazor Validatio</li>
    <li>Reading and display contents from a CSV file.</li>
</ol>
